.tabs {
  display: flex;
  overflow-x: auto;
  border-bottom: 1px solid var(--mantine-color-default-border);
}

.tab {
  flex-shrink: 0;
  padding: var(--mantine-spacing-sm) var(--mantine-spacing-md);
  border-bottom: 2px solid transparent;
  color: var(--mantine-color-text);
  font-size: var(--mantine-font-size-sm);
  font-weight: 500;
}

.tab:hover {
  background-color: var(--mantine-color-default-hover);
}

.tab[aria-current='page'] {
  border-bottom-color: var(--mantine-color-blue-filled);
  color: var(--mantine-color-blue-text);
}
