# Public webapp configuration
NEXT_PUBLIC_BACKEND_SERVICE_HOST=http://backend.localhost

# Server-side Better Auth configuration
DATABASE_URL=postgres://myuser:mypassword@localhost:5432/mydatabase
AUTH_SECRET=change-me
RESEND_API_KEY=
TRUSTED_ORIGINS=http://localhost:3000
BASE_URL=http://localhost:3000
# For GitHub OAuth
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
# For Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Optional
LOG_LEVEL=info
#DISABLE_SIGNUP=
#DISABLE_CSRF_CHECK=
